[project]
	description = MessagePack serializer implementation for Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gpicron
[access "refs/for/refs/*"]
	read = group user/gpicron
	push = group user/gpicron
	label-Code-Review = -2..+2 group user/gpicron
	label-Verified = -1..+1 group user/gpicron
	rebase = group user/gpicron
	removeReviewer = group user/gpicron
	submit = group user/gpicron
[access "refs/heads/*"]
	read = group user/gpicron
	create = group user/gpicron
	push = +force group user/gpicron
	pushMerge = group user/gpicron
[access "refs/tags/*"]
	push = +force group user/gpicron
	pushTag = group user/gpicron
	pushSignedTag = group user/gpicron
